<a href="https://colab.research.google.com/github/eundongki/test1/blob/main/422.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("정수를 입렵하시오"))
if a==2:
  print("짝수")
else:
  print("홀수")

정수를 입렵하시오2
짝수

In [ ]:
a=int(input("정수를 입렵하시오"))
b=int(input("정수를 입렵하시오"))
if a>b:
  print(a,"가 더큽니다")
else:
  print(b,"가 더큽니다")

정수를 입렵하시오5
정수를 입렵하시오4
5 가 더큽니다

In [ ]:
a = int(input("첫 번째 정수를 입력하세요: "))
b = int(input("두 번째 정수를 입력하세요: "))

if a > b:
    f = a - b
    v = a / b
else:
    f = b - a
    v = b / a

print("큰 수에서 작은 수를 뺀 결과는", f, "입니다.")
print("큰 수를 작은 수로 나눈 결과는", v, "입니다.")

첫 번째 정수를 입력하세요: 6
두 번째 정수를 입력하세요: 2
큰 수에서 작은 수를 뺀 결과는 4 입니다.
큰 수를 작은 수로 나눈 결과는 3.0 입니다.

In [ ]:
a = int(input("첫 번째 정수를 입력하세요: "))
if 1<=a<=10:
  print("OK")
else:
  print("NOK")

첫 번째 정수를 입력하세요: 11
NOK

In [ ]:
a = int(input("첫 번째 정수를 입력하세요: "))
if a<=1 or 9<a:
  print("OK")
else:
  print("NOK")

첫 번째 정수를 입력하세요: 11
OK

In [ ]:
a = int(input("첫 번째 정수를 입력하세요: "))
if 1<=a<10:
  print(a*2,"입니다")
else:
  print(a*3,"입니다")

첫 번째 정수를 입력하세요: 9
18 입니다

In [ ]:
char = input("첫 번째 문자를 입력하세요: ")
if char.isupper():
  print("대문자입니다")
else:
  print("대문자가 아닙니다")

첫 번째 문자를 입력하세요: a
대문자가 아닙니다

In [ ]:
ch = input("첫 번째 정수를 입력하세요: ")
if ch == "y" or ch=="Y" or ch=="":
  print("OK")
else:
  print("NOK")

첫 번째 정수를 입력하세요: a
NOK

In [ ]:
char = input("문자를 입력하세요")
if char.isupper():
  print(char,("대문자"))
elif char.islower():
  print(char,("소문자"))
else:
  print("기타문자입니다다")

문자를 입력하세요ㅠ
기타문자입니다다

In [ ]:
a = int(input("첫 번째 정수를 입력하세요: "))
if a<1 or a>=10:
  print("ERROR")
elif a%3 !=0:
  print("NOK")
else:
  print("OK")

첫 번째 정수를 입력하세요: 9
OK