<a href="https://colab.research.google.com/github/eundongki/test1/blob/main/%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = int(input("정수를 입력하세요: "))

if num % 2 == 0:
    print(num, "짝수")
else:
    print(num, "홀수")

정수를 입력하세요: 4
4 짝수

In [ ]:
a = int(input("첫 번째 정수를 입력하세요: "))
b = int(input("두 번째 정수를 입력하세요: "))

if a > b:
    print(a, "이/가 더 큽니다.")
elif b > a:
    print(b, "이/가 더 큽니다.")
else:
    print("두 수는 같습니다.")

첫 번째 정수를 입력하세요: 3
두 번째 정수를 입력하세요: 2
3 이/가 더 큽니다.

In [ ]:
a = int(input("첫 번째 정수를 입력하세요: "))
b = int(input("두 번째 정수를 입력하세요: "))

if a > b:
    f = a - b
    v = a / b
else:
    f = b - a
    v = b / a

print("큰 수에서 작은 수를 뺀 결과는", f, "입니다.")
print("큰 수를 작은 수로 나눈 결과는", v, "입니다.")

첫 번째 정수를 입력하세요: 10
두 번째 정수를 입력하세요: 4
큰 수에서 작은 수를 뺀 결과는 6 입니다.
큰 수를 작은 수로 나눈 결과는 2.5 입니다.

In [ ]:
a = int(input("정수를 입력하세요: "))

if 1 <= a <= 10:
    print("OK")
else:
    print("NOK")

정수를 입력하세요: 10
OK

In [ ]:
x = float(input("실수를 입력하세요: "))

if 1 <= x < 10:
    print("입력값의 2배는", 2 * x, "입니다.")
else:
    print("입력값의 3배는", 3 * x, "입니다.")

실수를 입력하세요: 3
입력값의 2배는 6.0 입니다.

In [ ]:
char = input("문자를 입력하세요: ")
if char.isupper():
    print("입력된 문자는 대문자입니다.")
else:
    print("입력된 문자는 대문자가 아닙니다.")

문자를 입력하세요: a
입력된 문자는 대문자가 아닙니다.

In [ ]:
ch = input("문자를 입력하세요: ")
if ch == 'y' or ch == 'Y' or ch == '\n':
    print("OK")
else:
    print("NOK")

문자를 입력하세요: y
OK

In [ ]:
ch = input("문자를 입력하세요: ")
if ch.isupper():
    print("입력된 문자는 대문자입니다.")
elif ch.islower():
    print("입력된 문자는 소문자입니다.")
else:
    print("입력된 문자는 기타의 문자입니다.")

문자를 입력하세요: @
입력된 문자는 기타의 문자입니다.

In [ ]:
a = int(input("정수를 입력하세요: "))
if a < 1 or a > 10:
    print("ERROR")
elif a % 3 != 0:
    print("OK")
else:
    print("NOK")

정수를 입력하세요: 11
ERROR

In [ ]:
n = int(input("양의 정수 n을 입력하세요: "))
sum = 0
for i in range(1, n+1):
    sum += i
print("1부터", n, "까지의 합은", sum, "입니다.")

양의 정수 n을 입력하세요: 4
1부터 4 까지의 합은 10 입니다.

In [ ]:
n = int(input("양의 정수 n을 입력하세요: "))
답 = 1
for i in range(1, n+1):
    답 *= i
print(n, "!은", 답, "입니다.")

양의 정수 n을 입력하세요: 4
4 !은 24 입니다.

In [ ]:
a = int(input("정수 a를 입력하세요: "))
b = int(input("정수 b를 입력하세요: "))
odd_count = 0
odd_sum = 0
for i in range(a, b+1):
    if i % 2 == 1:
        odd_count += 1
        odd_sum += i
print(a, "부터", b, "까지의 홀수 개수는", odd_count, "개이며, 홀수의 합은", odd_sum, "입니다.")

정수 a를 입력하세요: 1
정수 b를 입력하세요: 5
1 부터 5 까지의 홀수 개수는 3 개이며, 홀수의 합은 9 입니다.

In [ ]:
sum = 0
for i in range(1, 101):
    if (i % 3 == 0 or i % 5 == 0) and i % 15 != 0:
        sum += i
print("100 이하의 자연수중 3의 배수이거나 5의 배수이면서 15의 배수가 아닌 수들의 합은", sum, "입니다.")

100 이하의 자연수중 3의 배수이거나 5의 배수이면서 15의 배수가 아닌 수들의 합은 2103 입니다.

In [ ]:
n = int(input("100 이하의 양의 정수를 입력하세요: "))
count = 0
print("1부터 100까지의", n, "의 배수는")
for i in range(1, 101):
    if i % n == 0:
        print(i, end=" ")
        count += 1
print("\n입니다. 총", count, "개입니다.")

100 이하의 양의 정수를 입력하세요: 2
1부터 100까지의 2 의 배수는
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
입니다. 총 50 개입니다.

In [ ]:
result = 0  
for i in range(1, 101): 
    if i % 2 == 0:  
        result += i  
    else:  
        result -= i  
print(result)

-50

In [ ]:
# 학생 수
num_students = 5

# 학생 정보 입력받기
students = []
for i in range(num_students):
    student = {}
    student['번호'] = int(input(f"{i+1}번 학생의 번호를 입력하세요: "))
    student['중간점수'] = int(input(f"{i+1}번 학생의 중간 점수를 입력하세요: "))
    student['기말점수'] = int(input(f"{i+1}번 학생의 기말 점수를 입력하세요: "))
    students.append(student)

# 각 학생의 총점, 평균, 학점 계산하기
for student in students:
    student['총점'] = student['중간점수'] + student['기말점수']
    student['평균'] = round(student['총점'] / 2, 2)
    
    if student['평균'] >= 90:
        student['학점'] = 'A'
    elif student['평균'] >= 80:
        student['학점'] = 'B'
    elif student['평균'] >= 70:
        student['학점'] = 'C'
    elif student['평균'] >= 60:
        student['학점'] = 'D'
    else:
        student['학점'] = 'F'
        
# 결과 출력하기
print("번호\t중간점수\t기말점수\t총점\t평균\t학점")
for student in students:
    print(f"{student['번호']}\t{student['중간점수']}\t{student['기말점수']}\t{student['총점']}\t{student['평균']}\t{student['학점']}")

1번 학생의 번호를 입력하세요: 1
1번 학생의 중간 점수를 입력하세요: 42
1번 학생의 기말 점수를 입력하세요: 24
2번 학생의 번호를 입력하세요: 2
2번 학생의 중간 점수를 입력하세요: 421
2번 학생의 기말 점수를 입력하세요: 421
3번 학생의 번호를 입력하세요: 4
3번 학생의 중간 점수를 입력하세요: 521
3번 학생의 기말 점수를 입력하세요: 521
4번 학생의 번호를 입력하세요: 5
4번 학생의 중간 점수를 입력하세요: 123
4번 학생의 기말 점수를 입력하세요: 421
5번 학생의 번호를 입력하세요: 42
5번 학생의 중간 점수를 입력하세요: 512
5번 학생의 기말 점수를 입력하세요: 521
번호	중간점수	기말점수	총점	평균	학점
1	42	24	66	33.0	F
2	421	421	842	421.0	A
4	521	521	1042	521.0	A
5	123	421	544	272.0	A
42	512	521	1033	516.5	A

In [ ]:
while True:
    score = int(input("점수를 입력하세요: "))
    if score < 0 or score > 100:
        print("잘못된 입력입니다. 점수는 0부터 100 사이의 값이어야 합니다.")
    else:
        break
        
print(f"입력된 점수는 {score}입니다.")

점수를 입력하세요: 110
잘못된 입력입니다. 점수는 0부터 100 사이의 값이어야 합니다.
점수를 입력하세요: 124
잘못된 입력입니다. 점수는 0부터 100 사이의 값이어야 합니다.
점수를 입력하세요: 2
입력된 점수는 2입니다.

In [ ]:
number = int(input("정수를 입력하세요: "))

for i in range(2, int(number ** 0.5) + 1):
    if number % i == 0:
        print(f"{number}은(는) 소수가 아닙니다.")
        break
else:
    print(f"{number}은(는) 소수입니다.")

정수를 입력하세요: 10
10은(는) 소수가 아닙니다.